body{
    margin: 0;
    padding: 0;
    background: url('img/SHF_home-slide-1.jpg') no-repeat;

}
.container{
    display: flex;
    color: white;
}
.logo{
    margin-left: 3%;
    width: 8%;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;

}
nav ul li a:hover{
    color: #f1c40f
}
.body{
    margin-top: 10%;
    margin-left: 30px;
    color: white;
}
.body h2{
    font-size: 50px;
}
.body p{
    font-size: 30px;
    color: #f1c40f;
}
.body button{
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    background: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.body button:hover{
    background: #f1c40f;
    color: black;
}
.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.menu-item {
    background: #333;
    padding: 15px;
    margin: 15px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1);
}
.menu-item img {
    width: 100%;
    border-radius: 10px;
}
.menu-item h3 {
    margin: 10px 0;
}
.menu-item p {
    color: #bbb;
    font-size: 14px;
}
.menu-item .price {
    color: #ff6600;
    font-size: 18px;
    font-weight: bold;
}
.menu-item button {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    background: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
.menu-item button:hover {
    background: #f1c40f;
    color: black;
}